# 国内用户: 使用 docker.1ms.run 代理
# 海外用户 / 默认: 留空即可(自动使用 docker.io)
REGISTRY_MIRROR=docker.io/
GITHUB_MIRROR=https://github.com/
# 国内提速示例:
# REGISTRY_MIRROR=docker.1ms.run/
# GITHUB_MIRROR=https://mirror.ghproxy.com/https://github.com/
