# Docker 镜像源 (默认 docker.1ms.run，国内可直接使用)
REGISTRY_MIRROR=docker.1ms.run/

# GitHub 加速 (默认 gh.idayer.com，国内可直接使用)
GITHUB_MIRROR=https://gh.idayer.com/https://github.com/

# 海外用户请改为:
# REGISTRY_MIRROR=docker.io/
# GITHUB_MIRROR=https://github.com/
